*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: #FFFFFF;
    --cor-secundaria: #274156;
    --font: "Quicksand", sans-serif;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    height: 60px;
    width: 360px;
    background-color: #1C6E8C;
}

nav > h1{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: var(--cor-principal);
    margin: 10px 0px 0px 20px;
}

form{
    margin-top: 50px;
}

.nome{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nome label{
   font-family: var(--font);
   font-size: 14px;
   font-weight: 600;
   margin-bottom: 8px;
}

.nome input{
    width: 320px;
    height: 39px;
    border: 1px var(--cor-secundaria) solid;
    border-radius: 4px;
}

.email{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.email label{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px; 
}

.email input{
    width: 320px;
    height: 39px;
    border: 1px var(--cor-secundaria) solid;
    border-radius: 4px;
}

.options{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.options label{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.sexos{
    display: flex;
    flex-direction: row;
}

.feminino label{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.masculino label{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-right: 60px;
    margin-left: 5px;
}

.curso{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.curso label{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px; 
}

.curso select{
    width: 320px;
    height: 39px;
    border: 1px var(--cor-secundaria) solid;
    border-radius: 4px;
    background-color: var(--cor-principal);
}

.descricao{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.descricao label{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.termos{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.termos label{
    margin-left: 8px;
    font-family: var(--font);
    font-size: 14px;
}

button{
    background-color: #274156;
    color: #FFFFFF;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    width: 319px;
    height: 44px;
    text-align: center;
}